LatticeOptics/latticeOpticsV4.aux
LatticeOptics/latticeOpticsV4.bbl
LatticeOptics/latticeOpticsV4.blg
LatticeOptics/latticeOpticsV4.log
LatticeOptics/latticeOpticsV4.soc
LatticeOptics/latticeOpticsV4.tex.bak
LatticeOptics/latticeOpticsV4Notes.bib
LatticeOptics/latticeOpticsv5/LatticeOpticsV5.tex.bak
